html,
body{

    margin:0;
    padding:0;

    background:transparent;

    overflow:hidden;

    font-family:Inter,sans-serif;

}

#overlay{

    display:inline-flex;

    align-items:center;

    gap:18px;

    padding:10px 18px;

    color:white;

    font-size:26px;

    font-weight:700;

    background:
        linear-gradient(rgba(70,0,0,.55), rgba(35,0,0,.55)),
        repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,.03) 0px,
            rgba(255,255,255,.03) 2px,
            transparent 2px,
            transparent 10px
        );

    backdrop-filter:blur(8px);

    border-radius:16px;

    white-space:nowrap;

    text-shadow:2px 2px 4px rgba(0,0,0,.8);

}

#weather-icon{

    width:42px;

    height:42px;

}

#temp{

    color:#ff3b3b;

}

#humidity{

    color:#ff3b3b;

}

#clock{

    color:#ff3b3b;

}
